<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="card-body16 border bg-secondary position-static">
	<h1 class="menu2 ">MENU</h1>
	<div class="card-body17 border">
		<div class="card-body18 border	align-items-center">
			<div>
				<a asp-controller="Student" asp-action="Create" class="button3 form-control">
					<i class="bi bi-plus-circle"></i> Add New Student
				</a>
				<a asp-controller="Student" asp-action="Index" asp-route-isUpdateMode="true" class="button4 form-control">
					<i class="bi bi-pencil"></i> Update Student
				</a>
				<a asp-controller="Student" asp-action="Delete" class="button5 form-control">
					<i class="bi bi-trash"></i> Delete Student
				</a>
			</div>
		</div>
	</div>
</div>