@model StudentPortal.web.Models.Entities.Student
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<div class="w-100 card-body12 border-0 p-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-2">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="menu3 py-2">UPDATE STUDENT</h2>
            </div>
        </div>
    </div>

    <div class="card-body11 border p-4">
        <form method="post">
            <input asp-for="Id" hidden />
            <div class="p-3">

                <div class="form-floating py-1 col-12 ">
                    <input asp-for="Firstname" class="form-control" />
                    <label asp-for="Firstname" class="ms-2"></label>
                    <span asp-validation-for="Firstname" class="text-danger"></span>

                </div>

                <div class="form-floating py-1 col-12">
                    <input asp-for="Lastname" class="form-control" />
                    <label asp-for="Lastname" class="ms-2"></label>
                    <span asp-validation-for="Lastname" class="text-danger"></span>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Middlename" class="form-control" />
                    <label asp-for="Middlename" class="ms-2"></label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Course" class="form-control" />
                    <label asp-for="Course" class="ms-2"></label>
                </div>
                <div class="form-floating py-1 col-12">
                    <input asp-for="Year" class="form-control" />
                    <label asp-for="Year" class="ms-2"></label>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-success w-100 form-control">
                            <i class="bi bi-check-circle"></i> Update
                        </button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Student" asp-action="Index" class="btn btn-secondary w-100 form-control">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

